main {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/imgs_index/sacando_el_registro.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.fondo{
    width:60%;
}

.mainclass {
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:100%;
    color: white; 
}

.mainclass h1 {
    color: white;
    text-align: center;
    margin-top: 1em; 
    margin-bottom: 2em; 
    font-size: 2.5em; 
}


.mainclass p {
    margin-top: 0;
    font-size: 1.2em; 
}

.requisitos {
    background-color: #1143804a; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2em 2em 2em 4em; 
    margin-top: 20px;
}

.requisitos h2 {
    font-size: 1.8em; 
    margin-bottom: 1em;
}

.requisitos ul {
    list-style: none;
    padding: 0;
}

.requisitos li {
    margin-bottom: 1em;
    position: relative;
    margin-bottom: 1em;
}

.requisitos li i{
    margin-right: 10px;
}

.requisitos li::before {
    color: white; 
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
    position: absolute;
    left: -20px;
}

.requisitos a{
    color: white;
    text-decoration: underline; 
    font-weight: bold;
}

.requisitos a:hover{
    color: var(--color-celeste);
    text-decoration: none; 
}

.pd{
    margin-top:20px;
}




@media screen and (max-width: 767px) {
    .requisitos {
        padding: 1em; /* Ajuste de padding para tablet o menor */
    }
}