.contenedorBody {
    position: relative;
}

main {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/imgs_index/sacando_el_registro.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.link-menu {
    height: 100%;
    display: flex !important;
    align-items: center;
}

.link-menu a {
    display: flex !important;
    align-items: center;
    height: 100%;
}

.exit {
    padding: 0px !important;
    margin-right: 30px;
    margin-left: 10px;
}

.exit:hover {
    background-color: var(--color-azul) !important;
}

.exit i {
    font-size: 20px;
}

.exit i:hover {
    color: red;
}

.error-message {
    display: none;
    background-color: #FF9999;
    color: #990000;
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
}

.usuario-nav {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0px !important;
    margin-left: 5px;
    margin-right: 10px;
}

.usuario-nav:hover {
    background-color: var(--color-azul) !important;
}

.circulo {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo:hover {
    background-color: var(--color-naranja);
}

.title {
    color: var(--color-blanco-tipografia);
    text-align: start;
    margin-bottom: 20px;
    font-size: 1.8em;
}

#calendario {
    max-width: 400px;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    min-height: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.cabecera {
    text-align: center;
    padding: 10px;
    background-color: var(--color-azul);
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.dias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 250px;
    color: var(--color-azul);
    font-weight: bold;
}

.dia {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    width: 14.2%;
    min-height: 30px;
}

.dia.nombre-dia {
    font-weight: bold;
}

.dia.vacio {
    visibility: hidden;
}

.dia.verde {
    background-color: #4CAF50;
    color: #fff;
}

.dia.verde:hover {
    cursor: pointer;
}

#prevButton,
#nextButton {
    background-color: var(--color-pagina-actual);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 10%;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}


#prevButton:hover {
    background-color: var(--color-naranja);
}

#nextButton:hover {
    background-color: var(--color-naranja);
}

.container-main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedor-cajas {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
}

.caja {
    background-color: #f0f0f0;
    width: 90%;
    height: 90%;
    display: flex;
    align-items:start;
    justify-content: space-evenly;
    box-shadow: 5px 5px 10px;
    transition: 0.3s all;
    flex-direction: column;
}


.caja-enlace{
    text-decoration: none;
    box-shadow: 5px 5px 10px #000000;
}
.caja:hover {
    transform: translateY(-9px);
    background-color: #BAD9FF;
}

.icono-caja{
    margin-left: 10px;
    margin-bottom: 10px;
}
.material-symbols-outlined{
    font-size: 34px;
    color: #000000;
}

.texto-caja {
    margin-left: 10px;
    border: solid 1px ;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    font-size: 0.9em;
    color: #f0f0f0;
    background-color: var(--color-azul);
}

.ingresar {
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 30px;
    background-color: #BAD9FF;
}

.title-ingresar {
    font-size: xx-large;
}

.descripcion-ingresar {
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 150px;
}

.boton-ingresar {
    text-decoration: none;
    background-color: var(--color-azul);
    padding: 10px;
    color: #f0f0f0;
    font-weight: bold;
    width: 90%;
    text-align: center;
    border-radius: 5px;
}