
:root {

    --color-azul: #114380;
    --color-naranja: #ed8634;
    --color-blanco-tipografia: white;

  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

main{
    min-height: 100vh;
    background-color: red;
}

footer{
    background-color: green;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}


/* Media query para mostrar/ocultar el botón hamburguesa */
@media (max-width: 768px) {
    
    header{
        width: 100%;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-azul);
        width: 100%;
    }

    .element-hide{
        display: none;
    }

    .element-show{
        display: block;
    }

    .menu-img {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: var(--color-blanco-tipografia);
        padding: 20px;
        max-height: 60px;
    }

    .menu-toggle:hover{
        background-color: var(--color-naranja);
    }

    .menu-toggle i{
        font-size: 1.5em;
    }

    .nav-list{
        display: none;
        list-style: none;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .nav-list a{
        font-weight: bold;
        display: block;
        width: 100%;
        color: var(--color-blanco-tipografia);
        padding: 10px;
        font-size: 1em;
    }

    .nav-list a:hover{
        color: var(--color-blanco-tipografia);
        background-color: var(--color-naranja);
    }

}
