:root {

    --color-azul: #114380;
    --color-naranja: #ed8634;
    --color-blanco-tipografia: white;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.element-hide{
    display: none;
}

.element-show{
    display: block;
}

main{
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 375px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}


/* Media query para mostrar/ocultar el botón hamburguesa */
@media (max-width: 768px) {

    /* ESTILOS HEADER CELULAR */
    
    header{
        width: 100%;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: var(--color-azul);
        width: 100%;
    }

    .menu-img {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .menu-img img{
        max-height: 50px;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        padding: 20px;
        max-height: 60px;
    }

    .menu-btn:hover{
        background-color: var(--color-naranja);
    }

    .menu-btn i{
        font-size: 1.5em;
        color: var(--color-blanco-tipografia);
    }

    .nav-list{
        display: none;
        list-style: none;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .nav-list li{
        width: 100%;
    }

    .nav-list a{
        font-weight: bold;
        display: block;
        width: 100%;
        color: var(--color-blanco-tipografia);
        padding: 10px;
        font-size: 1em;
        text-decoration: none;
    }

    .nav-list a:hover{
        color: var(--color-blanco-tipografia);
        background-color: var(--color-naranja);
    }

    /* ESTILOS MAIN CELULAR */


    /* ESTILOS FOOTER CELULAR */
    footer {
        background-color: var(--color-azul);
        color: var(--color-blanco-tipografia);
        padding: 10px;
        width: 100%;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 5px solid rgb(0, 33, 105);
    }

    .footer-content .footer-derechos{
        text-align: center;
        width: 100%;
        font-size: 0.9em;
    }

    .footer-maps{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .footer-maps h4{
        display: inline-block;
    }

    .footer-maps p{
        width: 100%;
        margin-top: 10px;
        font-size: 0.9em;
    }

    .footer-maps a{
        font-size: 1.2em;
        padding-left: 10px;
        text-decoration: none;
        color: var(--color-blanco-tipografia);
    }

    .footer-maps a:hover {
        color: var(--color-naranja);
    }

    .footer-icons{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-icons h4{
        width: 100%;
    }

    .footer-icons a {
        color: var(--color-blanco-tipografia);
        font-size: 1.5em;
        padding: 5px;
    }

    .footer-icons a:hover {
        color: var(--color-naranja);
    }

}
